.ThumbProject {
    position: relative;
    max-width: 350px;
    min-width: 150px;
    background-color: rgb(59, 55, 77);
    padding: 20px;
    border-radius: 20px;
}
.ThumbProject-Img {
    position: relative;
    width: 100%;
    border-radius: 30px;
    object-fit:cover;
    object-position: 0 0%;
    aspect-ratio: 16/9;
}
.ThumbProject-Img img {
    position: relative;
    width: 100%;
    border-radius: 30px;
    object-fit:cover;
    object-position: 50% 0%;
    aspect-ratio: 16/9;
}
.ThumbProject-Buttons {
    position: absolute;
    display: inline-block;
    right: 0;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    width: inherit;
    aspect-ratio: 16/9;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 1;

    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.ThumbProject-Button{
    margin: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(59, 55, 77, 0.849);
    cursor: pointer;

    color: white;
    text-decoration: none;
}
.ThumbProject:hover {
    .ThumbProject-Buttons{
        opacity: 1;
    }
}