:root {
  --primary-color: #051b27;
  --secondary-color: #030514;
  --text-color: #e0e0e0;
  --primary-fonts: "Poppins", sans-serif;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  color: var(--text-color);
  font-family: var(--primary-fonts);
  font-weight: 100;

  background-image: url("../Assets/Img/Background.png");
  background-color: var(--secondary-color);
  width: 100vw;
}