#Home {
    margin: 100px 0 0;

    box-sizing: border-box;
    justify-self: center;
    padding: 30px 400px;
    background-color: #ffffff11;    
    width: 100%;
}

.Home-Welcoming {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}
.Home-Welcoming-Description {
    max-width: 600px;
    min-width: 450px;

    text-align:start ;

    animation: init-text 1s ease-out;
}
.Home-Welcoming-Description p {
    font-size: 20px;
    font-weight: 600;
}

.Home-Welcoming-Img {
    height: 500px;

    animation: init-img 1s ease-out;
}   

.Icon {
    margin: 0 10px;
}

@keyframes init-img {
    from {
        transform: translateX(50vw);
        opacity: 0;
    }
    to {
        transform: translateX(0vw);
        opacity: 1;
    }
}
@keyframes init-text {
    from {
        transform: translateX(-50vw);
        opacity: 0;
    }
    to {
        transform: translateX(0vw);
        opacity: 1;
    }
}